/*Bulma link*/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/*Google font link*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0c0b20;
    color: #e0e0e0;
}

.hero.is-dark {
    background-color: #1a1a1a;
}

.navbar.is-dark {
    background-color: #1a1a1a;
}

.navbar-item {
    color: #00aaff;
}

.navbar-item:hover {
    background-color: #2c2c2c;
    color: #ffffff;
}

.title {
    color: #00aaff;
}

.input.is-dark {
    background-color: #2c2c2c;
    border: 1px solid #3c3c3c;
    color: #e0e0e0;
}

.section {
    padding: 2rem 1.5rem;
}

#movie-details-container {
    padding: 20px;
    background: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.list {
    padding-left: 20px;
}

.list li {
    margin-bottom: 10px;
    padding: 10px;
    background: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #00aaff;
}

.button.is-info {
    background-color: #007BFF;
    border-color: #007BFF;
}

.button.is-info:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.button.is-warning {
    background-color: #ffdd57;
    border-color: #ffdd57;
    color: #363636;
}

.button.is-warning:hover {
    background-color: #ffcc00;
    border-color: #ffcc00;
}

.footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

