/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0c0b20;
    color: #e0e0e0;
}

.hero.is-dark {
    background-color: #1a1a1a;
}

.navbar.is-dark {
    background-color: #1a1a1a;
}

.navbar-item {
    color: #00aaff;
    font-size: larger;
    border-radius: .6rem;
    box-shadow: 0 0 1rem 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
}

.navbar-item:hover {
    background-color: #2c2c2c;
    color: #ffffff;
}

.title {
    margin-right: 225px;
    color: #dae4e8;
    align-items: center;
}

.logo {
    width: 170px;
    margin-right: 100px;
}

.input.is-dark {
    background-color: #2c2c2c;
    border: 1px solid #3c3c3c;
    color: #e0e0e0;
    font-weight: bold;
}

.section {
    padding: 2rem 1.5rem;
}

.section-title {
    font-size: 2rem;  
    color: #c3d5df;  
    text-align: left;
    margin-bottom: 1rem;
}


#movie-details-container {
    padding: 20px;
    background: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.list {
    padding-left: 20px;
}

.list li {
    margin-bottom: 10px;
    padding: 10px;
    background: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #00aaff;
}

.button.is-info {
    background-color: #007BFF;
    border-color: #007BFF;
}

.button.is-info:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.button.is-warning {
    background-color: #ffdd57;
    border-color: #ffdd57;
    color: #363636;
}

.button.is-warning:hover {
    background-color: #ffcc00;
    border-color: #ffcc00;
}

footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    align-items: bottom;
}

#results {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.movie-box {
    flex: 25%;
    margin: 10px;
    padding: 10px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 150px;
}

.movie-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-box h2,
.movie-box p,
.movie-box .ratings,
.movie-box button {
    width: 100%; /* Ensure all text elements and button match the image width */
    text-align: center;
    margin-bottom: 10px;
}

.movie-box h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #007BFF;
    display: none;
}

.movie-box p,
.movie-box .ratings p {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #007BFF;
    display: none;
}

.movie-box button {
    display: none;
    margin-bottom: 10px;
    background-color: #3498dbb5;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}

.movie-box button:hover {
    background-color: #03274e9a;
    padding: 5px 20px;
}

.movie-box:hover img {
    display: none;
}

.movie-box:hover h2,
.movie-box:hover p,
.movie-box:hover .ratings,
.movie-box:hover button {
    display: block;
}

.movie-box:hover {
    background-color: #e0e0e0;
    border: 2px solid white;
    opacity: 0.8;
    box-shadow: 0 0 100px rgba(255, 254, 254, 0.5);
    border-radius: 10px;
}

.movie-box .ratings {
    display: none;
    margin-bottom: 10px;
}

.movie-box:hover .ratings {
    display: block;
}

.Sbutton {
    display: block;
    font-weight: bolder;
    font-size: larger;
    margin-top: 5px;
    padding: 5px 20px;
    background-color: #021326;
}

/* Divider styling */
.divider {
    width: 1px;
    background-color: #00aaff;
    margin: 0 20px;
    height: 100%;
    align-self: stretch;
}

/* Animation styles */
.animated-title {
    animation: moveInTop 2s ease-out forwards;
}

.animated-logo {
    animation: moveInTop 2s ease-out forwards;
}

.animated-watchlist {
    animation: fadeIn 2s ease-out forwards;
}

@keyframes moveInTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Added bulma class color */
.popcornpicks {
    color: hsl(0, 0%, 100%);
}

/* Top 5 section styling similar to Watchlist */
.top5 .movie-box {
    flex: 25%;
    margin: 10px;
    padding: 10px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 150px;
}
