/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0c0b20;
    color: #e0e0e0;
    padding: 20px;
}

.hero.is-dark {
    background-color: #1a1a1a;
}

.navbar.is-dark {
    background-color: #1a1a1a;
}

.navbar-item {
    color: #00aaff;
    font-size: larger;
    border-radius: .6rem;
    box-shadow: 0 0 1rem 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
}

.navbar-item:hover {
    background-color: #2c2c2c;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #00aaff;
}

.subtitle {
    font-weight: 500;
    margin-bottom: 10px;
    color: #00aaff;
}

.field {
    margin-bottom: 20px;
}

.input.is-dark {
    background-color: #2c2c2c;
    border: 1px solid #3c3c3c;
    color: #e0e0e0;
}

.button.is-info {
    background-color: #007BFF;
    border-color: #007BFF;
}

.button.is-info:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.button.is-warning {
    background-color: #ffdd57;
    border-color: #ffdd57;
    color: #363636;
}

.button.is-warning:hover {
    background-color: #ffcc00;
    border-color: #ffcc00;
}

.button.add-to-top-five,
.button.remove-from-top-five {
    display: block;
    font-weight: bolder;
    font-size: 0.875rem;
    margin-top: 5px;
    padding: 0.5rem 1rem;
    background-color: #021326;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.button.add-to-top-five:hover,
.button.remove-from-top-five:hover {
    background-color: #03274e9a;
    padding: 0.5rem 1rem;
}

/* Footer */

.footer {
    /* class color for bulma */
    background-color:hsl(0, 0%, 21%);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.column {
    padding: 10px;
}

/* Watchlist and Top 5 Styling */
.watchlist {
    display: flex;
    flex-direction: column;
}

.top5 {
    display: flex;
    flex-direction: column;
}

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-box {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.movie-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-box h2,
.movie-box p,
.movie-box .ratings,
.movie-box button {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.movie-box h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #007BFF;
    display: none;
}

.movie-box p,
.movie-box .ratings p {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #007BFF;
    display: none;
}

.movie-box button {
    display: none;
    margin-bottom: 10px;
    background-color: #3498dbb5;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}

.movie-box .ratings {
    display: none;
    margin-bottom: 10px;
}



.Sbutton {
    display: block;
    font-weight: bolder;
    font-size: larger;
    margin-top: 5px;
    padding: 5px 20px;
    background-color: #021326;
}

/* Animation styles */

.animated-title {
    animation: moveInTop 2s ease-out forwards;
}

.animated-logo {
    animation: moveInTop 2s ease-out forwards;
}

.animated-watchlist {
    animation: fadeIn 2s ease-out forwards;
}
/* added bulma class color */
.popcornpicks {
    color:hsl(0, 0%, 100%);
}

@keyframes moveInTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.top-5-movie {
    flex:1 1 20%;
}
