/*Bulma link*/
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

/*Google font link*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* In your CSS file (./assets/css/style.css) */
@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css');

/* Your custom styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0c0b20;
    color: #e0e0e0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #00aaff;
}

.subtitle {
    font-weight: 500;
    margin-bottom: 10px;
    color: #00aaff;
}

.field {
    margin-bottom: 20px;
}

.input {
    background-color: #2c2c2c;
    border: 1px solid #3c3c3c;
    color: #e0e0e0;
}

.button.is-info {
    background-color: #007BFF;
    border-color: #007BFF;
}

.button.is-info:hover {
    background-color: #0056b3;
    border-color: #0056b3;


}

#movie-details-container {
    padding: 20px;
    background: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.list {
    padding-left: 20px;
}

.list li {
    margin-bottom: 10px;
    padding: 10px;
    background: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #00aaff;
}

.button.is-warning {
    background-color: #ffdd57;
    border-color: #ffdd57;
    color: #363636;
}

.button.is-warning:hover {
    background-color: #ffcc00;
    border-color: #ffcc00;
}
/*Footer*/

.footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}